body
{
	background-color: #303030;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.rectangle
{
	width: 960px;
	margin: 20px;
	text-align: center;
}

.square
{
	float: left;
	width: 50%;
}

#logo
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	width: 600px;
	text-align: left;
	text-shadow: 0 2px 0 #000, 0 3px 0 #aaa, 0 3px 4px #aaa;
}

#zegar
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	text-align: left;
	text-shadow: 0 2px 0 #000, 0 3px 0 #aaa, 0 3px 4px #aaa;
	cursor: default;
}

.tile1
{
	float: left;
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #3095d3;
	text-align: center;
}

.tile1:hover
{
	background-color: #2084c2;
}

.tile2
{
	float: left;
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #555;
	text-align: center;
}

.tile2:hover
{
	background-color: #444;
}

.tile3
{
	float: left;
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #93c748;
	text-align: center;	
}

.tile3:hover
{
	background-color: #82b637;
}

.tile4
{
	margin: 10px;
	width: 420px;
	height: 82px;
	background-color: #ee5a32;
	text-align: center;
	font-size: 26px;
	padding: 30px;
	line-height: 150%;
	cursor: default;
}

.tile5
{
	margin: 10px;
	width: 420px;
	height: 244px;
	background-color: #666;
	text-align: justify;
	padding: 30px;
}

.tile5 h1
{
	font-size: 28px;
	margin-top: 0;
	margin-bottom: 30px;
	text-shadow: 1px 2px 0 #000;
}

.cv
{
	float: left;
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #ee5a32;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

.cv:hover
{
	background-color: #dd4921;
}

.li
{
	float: left;
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #0077b5;
	text-align: center;	
    font-size: 26px;
	font-weight: bold;
}

.;i:hover
{
	background-color: #0066a4;
}


a.tilelink
{
	color: #fff;
	text-decoration: none;
	display: block;
	width: 230px;
	height: 142px;
}

a.medialink
{
	display: block;
	width: 105px;
	height: 132px;
	padding-top: 10px;
	text-decoration: none;
	color: #fff;
}

a.logolink
{
	color: #fff;
	text-decoration: none;
}

a.linuxpl
{
	width: 100px;
	height: 30px;
	padding: 1px 5px;
	text-decoration: none;
	background-color: #115a9c;
	color: #fff;
}

a.linuxpl:hover
{
	background-color: #00498b;
}

a.txtcv
{
	width: 100px;
	height: 30px;
	padding: 1px 5px;
	text-decoration: none;
	background-color: #93c748;
	color: #fff;
}

a.txtcv:hover
{
	background-color: #82b637;
}

.portfolio
{
	width: 420px;
	text-align: center;
	padding: 0 30px;
}

.imgportfolio
{
	padding: 5px 25px;
	float: left;
	border: 0px solid #fff;
}

.imgportfolio:hover
{
    animation: tremble 0.2s linear 0s infinite alternate none;
}

.imgportfolio img
{
	border: 2px solid #eee;
	border-radius: 10px;
}

.blad404
{
	text-align: center;
}

/*Tooltipy*/
.tooltip a
{
	position: relative;
}

.tooltip a:hover:before
{
	content:attr(data-tooltip);
	padding: 5px;
	border: 1px solid #000;
	background-color: #666;
	color: #ffd;
	position: absolute;
	border-radius: 10px;
	width: 160px;
	bottom: 85%;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 16px;
	font-weight: normal;
	animation: rozwin 0.6s ease-in 0s 1 normal backwards;
}

.tooltip2 a:hover:before
{
	width: 90px;
	bottom: 88%;
}

@keyframes tremble
{
	0% {transform: rotate(5deg);}
	100% {transform: rotate(-5deg);}
}

@keyframes rozwin
{
	0% { transform: scaleY(0); transform-origin: 0 100%; opacity: 0; }
	100% { transform: scaleY(1); transform-origin: 0 100%; opacity: 1; }
}
